/* TODO: for referance see the mobile-first-responsice-build website project  */

/* layout */

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-columns: 960px 480px; */
}

/* styling checkboxes */

.hide {
  display: none;
}

.from-categories-container {
  margin-top: 28px;
}

.search-container > input {
  width: 680px;
  height: 42px;
  border: 2px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-left: 5px;
}

.search-container > input::placeholder {
  color: #ABABAB;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}

/* --------------------- */

.main-section {
    grid-column: 1/2;
}

.favourites {
    grid-column: 2/2;
    display: flex;
    justify-content: flex-end;
}

.favourite-title {
  margin-top: 40px;
}

html {
    min-width: 100%;
    min-height: 100%;
    
}

.app {
    height: 900px;
    /* max-width: 1440px; */
}

/* menue (main card) */

.menue {
    margin-left: 140px;
}

.radio {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    color: #333333;
}

.msi-title {
    width: 87px;
    height: 28px;
    margin-left: 140px;
    margin-top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.greeting {
    width: 680px;
    height: 44px;
    margin-left: 140px;
    margin-top: 106px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;

    color: #333333;
}

.joke-proposal {
    width: 315px;
    height: 44px;
    margin-left: 140px;
    margin-top: 2px;
    margin-bottom: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;

    color: #333333;
}

.get-joke-btn {
    width: 152px;
    height: 42px;
    background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
    margin-left: 140px;
}

.radio {
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* main card */

.main-card {
    margin-top: 40px;
    margin-left: 140px;
    margin-right: 140px;
    width: 680px;
    height: 225px;
    position: relative;
    top: 100px;

    background: #f8f8f8;
    border-radius: 20px;
}

.main-card-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-card-content {
    grid-column: 2/2;
    grid-row: 2;
}

.like-button-container {
    grid-column: 3/3;
    grid-row: 1;
}

#root > div > div.favourites > div > div > div > div.like-icon-contaner > img {
    margin-top: 30px;
    margin-left: 50px;
}


.main-last-update {
    grid-column: 2/2;
    grid-row: 3;
}

.message-button-container {
    grid-column: 1/1;
    grid-row: 2;
}

.celebrity-button-container {
    grid-column: 3/3;
    grid-row: 3;
}

.celebrity-button-container > img {
    position: relative;
    right: 80px;
}

.message-button-container > img {
    margin-left: 40px;
}

.like-button-container > img {
    margin-left: 5%;
    margin-top: 40px;
}

.main-id-link {
    width: 145px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #ababab;
}

.main-card-message {
    width: 540px;
    height: 52px;
    /* left: 240px; */
    /* top: 621px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}

.main-last-update {
    width: 128px;
    height: 14px;
    /* left: 240px; */
    /* top: 701px; */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */

    color: #ababab;
}

/* favourite card*/

.favourite {
    background: #f8f8f8;
    width: 600px;
    padding-left: 40px;
}

.inline-block {
    display: inline-block;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.from-categories-container > * {
    display: inline-block;
}

.favourite-card {
    width: 400px;
    height: 180px;
    background: #ffffff;
    border: 1px solid #f8f8f8;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.msg-icon-container {
    display: flex;
    justify-content: center;
}

.msg-icon-container img {
    margin-bottom: 50px;
}

.like-icon-container {
    display: flex;
    justify-content: flex-end;
}

#root > div > div.favourites > div > div > div.like-icon-contaner > img {
    padding-top: 20px;
    padding-left: 55px;
}

.id-link {
    margin-top: 47px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #ababab;
}

.favourite-title {
    width: 84px;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ababab;
    margin-left: 20px;
}

.last-update {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #ababab;
}

/* create another grid inside of the card */
.card-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.options-button-container {
    display: none;
}

/* set the base fontsize and define everything in ems */

/* tablet */
@media screen and (max-width: 834px) {
    .menue {
        grid-column: 1/1;
    }

    .app {
        position: relative;
        left: -250px;
    }

    


    .msi-control {
        display: flex;
        justify-content: space-evenly;
        margin-right: -130px;
    }

    

    .options-button-container {
        display: flex;
        justify-content: space-evenly;
        margin-left: 330px;
        margin-top: 30px;
    }

    .options-title {
        margin-top: 10px;
        margin-left: 10px;
    }

    .msi-title {
        margin-left: -10px;
    }

    /* ---------------------- */

    .favourites {
        /* display: none; */
        visibility: hidden;
        /* visibility: visible; */
        position: relative;
        right: 650px;
        z-index: 1;
    }
}

/* mobile */
@media screen and (max-width: 380px) {
    /* it has something to do with your setting that width earlier */
    /* TODO: you have to set the width of the  */
    .app {
        grid-template-columns: 1fr;
    }

    .menue > * {
        margin-left: 120px;
    }

    .options-container {
        margin-left: -20px;
    }

    .main-card {
        width: 340px;
        height: 258px;
        /* margin-left: 10px; */
        /* top: 553px; */

        background: #f8f8f8;
        border-radius: 20px;
    }

    .main-card-grid {
        /* set values in pixels */
        display: grid;
        grid-template-columns: 64.5px 210px 64.5px;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .like-button-container > img {
        margin-top: 20px;
        margin-left: 35px;
    }

    .message-button-container > img {
        margin-left: 10px;
        margin-top: -5px;
    }

    .celebrity-button-container > img {
        display: none;
    }

    /* styling the menue */
    .msi-control {
        display: flex;
        justify-content: space-evenly;
    }

    .options-button-container {
        display: flex;
        justify-content: space-evenly;
        margin-left: -230px;
        margin-top: 30px;
    }

    .options-title {
        margin-top: 10px;
        margin-left: 10px;
    }

    .msi-title {
        margin-left: -365px;
    }

    .search-container > input {
      width: 310px;
    }
    /* ------------------ */

    /* favourites menu style */
    #root > div > div.favourites {
      width: 50px;
      margin-left: 280px;
    }

    #root > div > div.favourites > * {
      margin-right: -10px;
      /* width: 380px; */
    }
    /* -------------- */
}